workflows/notification_flow.json
{
  "name": "Notification — High Score Jobs",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "a1b2c3d4-0003-0001-0001-000000000001",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/v1/auth/login",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ email: $env.SERVICE_ACCOUNT_EMAIL, password: $env.SERVICE_ACCOUNT_PASSWORD }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0003-0001-0001-000000000002",
      "name": "Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BACKEND_URL }}/api/v1/jobs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Login').item.json.access_token }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "min_score", "value": "75"},
            {"name": "limit", "value": "20"}
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0001-0001-000000000003",
      "name": "Get High Score Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Filter jobs scraped in the last hour\nconst oneHourAgo = Date.now() - 3600 * 1000;\nconst jobs = $input.all().map(item => item.json);\nconst recentHighScore = jobs.filter(job => {\n  const scraped = new Date(job.scraped_at).getTime();\n  return scraped >= oneHourAgo && job.score && job.score.total >= 75;\n});\n\nif (recentHighScore.length === 0) {\n  return [{ json: { hasNew: false, count: 0, jobs: [] } }];\n}\n\nconst summary = recentHighScore.map(j => ({\n  title: j.title,\n  company: j.company_name,\n  location: j.location,\n  score: j.score ? j.score.total : null,\n  url: j.url,\n}));\n\nreturn [{ json: { hasNew: true, count: recentHighScore.length, jobs: summary } }];"
      },
      "id": "a1b2c3d4-0003-0001-0001-000000000004",
      "name": "Filter Recent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-notify-0001",
              "leftValue": "={{ $json.hasNew }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-0003-0001-0001-000000000005",
      "name": "New High Score Jobs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build notification message\nconst data = $input.item.json;\nconst lines = data.jobs.map(j =>\n  `• ${j.title} @ ${j.company} — Score: ${j.score}\\n  ${j.url}`\n).join('\\n\\n');\n\nreturn [{\n  json: {\n    text: `🎯 *${data.count} new high-score job(s) found!*\\n\\n${lines}`,\n    count: data.count,\n    jobs: data.jobs\n  }\n}];"
      },
      "id": "a1b2c3d4-0003-0001-0001-000000000006",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NOTIFICATION_WEBHOOK_URL }}",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ text: $json.text }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0003-0001-0001-000000000007",
      "name": "Send Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 220]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { skipped: true, reason: 'No new high-score jobs this hour' } }];"
      },
      "id": "a1b2c3d4-0003-0001-0001-000000000008",
      "name": "Skip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [{"node": "Login", "type": "main", "index": 0}]
      ]
    },
    "Login": {
      "main": [
        [{"node": "Get High Score Jobs", "type": "main", "index": 0}]
      ]
    },
    "Get High Score Jobs": {
      "main": [
        [{"node": "Filter Recent", "type": "main", "index": 0}]
      ]
    },
    "Filter Recent": {
      "main": [
        [{"node": "New High Score Jobs?", "type": "main", "index": 0}]
      ]
    },
    "New High Score Jobs?": {
      "main": [
        [{"node": "Format Message", "type": "main", "index": 0}],
        [{"node": "Skip", "type": "main", "index": 0}]
      ]
    },
    "Format Message": {
      "main": [
        [{"node": "Send Notification", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "id": "workflow-notification-003"
}
