workflows/score_explanation.json
{
  "name": "Score & Explain — On Demand",
  "nodes": [
    {
      "parameters": {
        "path": "score-explain",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0002-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "score-explain-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Validate required fields\nconst body = $input.item.json.body;\nif (!body || !body.job_id) {\n  throw new Error('Missing required field: job_id');\n}\nreturn [{ json: { job_id: body.job_id } }];"
      },
      "id": "a1b2c3d4-0002-0001-0001-000000000002",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/v1/auth/login",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ email: $env.SERVICE_ACCOUNT_EMAIL, password: $env.SERVICE_ACCOUNT_PASSWORD }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0002-0001-0001-000000000003",
      "name": "Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/v1/agents/job_scoring_agent/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Login').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "{\"params\": {\"batch_size\": 10}}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "a1b2c3d4-0002-0001-0001-000000000004",
      "name": "Score Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/v1/scores/{{ $('Validate Input').item.json.job_id }}/explain",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Login').item.json.access_token }}"
            }
          ]
        },
        "options": {
          "timeout": 90000
        }
      },
      "id": "a1b2c3d4-0002-0001-0001-000000000005",
      "name": "Generate Explanation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, job_id: $('Validate Input').item.json.job_id, explanation: $json.llm_explanation, total: $json.total }) }}"
      },
      "id": "a1b2c3d4-0002-0001-0001-000000000006",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{"node": "Validate Input", "type": "main", "index": 0}]
      ]
    },
    "Validate Input": {
      "main": [
        [{"node": "Login", "type": "main", "index": 0}]
      ]
    },
    "Login": {
      "main": [
        [{"node": "Score Jobs", "type": "main", "index": 0}]
      ]
    },
    "Score Jobs": {
      "main": [
        [{"node": "Generate Explanation", "type": "main", "index": 0}]
      ]
    },
    "Generate Explanation": {
      "main": [
        [{"node": "Respond", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "id": "workflow-score-explain-002"
}
